.listParent {
  width: 100vw;
  max-width: 20em;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
}

.list > li {
  margin-bottom: 0.5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.footer > p {
  margin: auto 0;
}
